* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  background-color: rgb(245, 245, 245);
}

.note {
  background: linear-gradient(to right, #000, rgb(47, 79, 79));
  padding: 0.5rem;
}

.note .title {
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.inputSearch {
  width: 30%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
}

.noteMain {
  padding: 0.5rem;
}

.sectionInput {
  background-color: #fff;
}

.sectionInput .header,
.listHeader,
.archiveHeader {
  background: linear-gradient(to right, #000, rgb(47, 79, 79));
  padding: 0.5rem;
}

.sectionInput .header .title,
.listHeader h2,
.archiveHeader h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
}

.formGroup {
  padding: 0.5rem;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  height: 3rem;
  border: none;
  outline: none;
  background-color: rgb(250, 240, 230);
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(39, 39, 39);
  transition: all 0.3s ease-in-out;
  border-radius: 0.25rem;
}

.formGroup input:hover,
.formGroup textarea:hover,
.inputSearch:hover {
  background-color: rgb(254, 228, 225);
  color: rgb(39, 39, 39);
}

.formGroup input:focus,
.formGroup textarea:focus,
.inputSearch:focus {
  background-color: rgb(254, 228, 225);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.maxTitle {
  color: rgb(119, 119, 119);
  font-size: 1rem;
}

.formGroup textarea {
  height: 20rem;
}

.formGroup label h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(69, 68, 68);
}

.max-title {
  color: rgb(119, 119, 119);
  font-size: 0.8rem;
}

.buttonAdd {
  background-color: rgb(0, 119, 255);
  color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: block;
  margin: 0 auto;
  margin-right: 0;
}

.buttonAdd:hover {
  background-color: rgb(0, 85, 204);
}

.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noteList {
  padding: 0.5rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.noteItem {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  list-style: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.noteItem:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(250, 240, 230);
  color: rgb(39, 39, 39);
}

.noteItemsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(254, 228, 225);
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.noteItemsHeader {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(29, 43, 70);
}

small {
  font-size: 0.8rem;
  color: rgb(119, 119, 119);
}

.emptyNotesArchive {
  text-align: center;
  padding: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.buttonDelete,
.buttonArchive,
.buttonUnarchive {
  background-color: rgb(220, 20, 60);
  color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.buttonArchive {
  background-color: rgb(95, 158, 160);
}

.buttonUnarchive {
  background-color: rgb(218, 165, 32);
}

.message {
  display: none;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

.message.empty {
  background-color: rgb(255, 0, 0);
  display: block;
}

.message.success {
  background-color: rgb(252, 165, 3);
  display: block;
}

@media only screen and (max-width: 1024px) {
  .noteItem {
    width: 100%;
  }

  .inputSearch {
    width: 50%;
  }

  .noteList {
    padding: 0.5rem;
  }

  .noteItemsHeader {
    font-size: 1rem;
  }

  .small {
    font-size: 0.7rem;
  }

  .buttons {
    flex-direction: column;
    padding: 0.5rem 0;
  }

  .buttonDelete,
  .buttonArchive,
  .buttonUnarchive {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
